{% extends 'base.html' %}
{% block content %}


<form method="POST">
    <p>Пароль должен соответсвовать следующим условиям: </p>
<ol>
    <li>не менее 8 символов;</li>
    <li>как минимум одна заглавная;</li>
    <li>как минимум одна строчная буква;</li>
    <li>только латинские или кириллические буквы;</li>
    <li>как минимум одна цифра (допустимы только арабские цифры);</li>
    <li>без пробелов;</li>
</ol>
<p>Другие допустимые символы:~ ! ? @ # $ % ^ & * _ - + ( ) [ ] { } > < / \ | " ' . , : ;</p>
    <div class="row mt-3 mb-3">
        <label for="old_password" class="col-sm-2 col-form-label">Old password</label>
        <div class="col-sm-10">
            <input 
            class="form-control {% if error_old_pass and m%} is-invalid {% elif m and not error_old_pass%} is-valid {%else%} {% endif %}"
             name="old_password" id="old_password" value="{{ user.old_password or '' }}">
            {% if request.method == 'POST' %}
            <div class="{% if error %} invalid-feedback {% endif %}">{{output_old_pass}}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="new_password" class="col-sm-2 col-form-label">New password</label>
        <div class="col-sm-10">
            <input 
            class="form-control {% if error_new_pass and m%} is-invalid {% elif m and not error_new_pass%} is-valid {%else%} {% endif %}"
            name="new_password" id="new_password" value="{{ user.new_password or '' }}">
            {% if request.method == 'POST' %}
            <div class="{% if error %} invalid-feedback {% endif %}">{{output_new_pass}}</div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="repeat_new_password" class="col-sm-2 col-form-label">Repeat new password</label>
        <div class="col-sm-10">
            <input 
            class="form-control {% if error_repeat_pass and m%} is-invalid {% elif m and not error_repeat_pass%} is-valid {%else%} {% endif %}"
            name="repeat_new_password" id="repeat_new_password" value="{{ user.repeat_new_password or '' }}">
            {% if request.method == 'POST' %}
            <div class="{% if error %} invalid-feedback {% endif %}">{{output_repeat_pass}}</div>
            {% endif %}
        </div>
    </div>
    
    <button class="btn btn-primary">Изменить пароль</button>
</form>
{% endblock %}